
<%= content_for :page_title,"Groups" %>
<%= render 'navbar/navbar' %>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="mt-3">Groups</h1>
        </div>

        <%= form_tag groups_path,remote: true,method: :post,id: "add_group_form" do %>
        <div class="row">
            <div class="form-inline w-100">
                <div class="form-group col-md-9 mb-2">
                    <%= label_tag(:group_group_name, :Group, {class:"col-md-4 font-weight-bold"}) %>
                    <%= text_field :group,:group_name,{class:"form-control col-md-8 w-100 inputGroup", placeholder: "Name Of Group",autofocus: true} %>
                </div>
                <%#= submit_tag 'Add Group',{name: "add_group",class:"btn btn-primary col-md-3 mb-2 buttonAddGroup"} %>
                <%=button_tag(type: :submit,class: "btn btn-primary col-md-3 mb-2 buttonAddGroup") do %>
                    Add Group
                <% end %>
                <%#= link_to 'Add Group', groups_path,remote: true,class: 'btn btn-primary col-md-3 mb-2 buttonAddGroup' %>
                <%#= button_to "Add Group","group_name",{type: "button",name: "add_group",class:"btn btn-primary col-md-3 mb-2 buttonAddGroup"} %>
            </div>
        </div>
        <% end  %>
        <div class="row mt-4">
            <div class="col-sm-4">
                <div class="card border-success">
                    <div class="card-body">
<!--                        <h5 class="card-title"></h5>-->
                        <div class="card-header">My Groups</div>
                        <div class="mt-4" style="overflow-y: auto;max-height: 240px">
                            <table class="AllGroups">
                                <tr class="noGroups d-none">
                                    <td>There is no groups</td>
                                </tr>
                                <tr class="groups d-none">
                                    <td class="col-md-8"><a href="" class="groupName">OS</a></td>
                                    <td class="col-md-2"><a href="" class="addFriends"><%= fa_icon "user-plus",class: "text-success" %></a></td>
                                    <td class="col-md-2"><a data-confirm="Are you sure?" class="deleteGroup" data-remote="true" rel="nofollow" data-method="delete" href=""><%= fa_icon "trash",class: "text-danger" %></a></td>
<!--                                    <td class="col-md-2"><a href="" class="deleteGroup"><%#= fa_icon "trash",class: "text-danger" %></a></td>-->
                                </tr>
                                <%= render "groups/result" %>
                                <%# @groups.each { |group| %>
<!--                                    <tr class="">-->
<!--                                        <td class="col-md-8"><a href="" class="groupName"><%#= group.group_name %></a></td>-->
<!--                                        <td class="col-md-2"><a href="" class="addFriends"><%#= fa_icon "user-plus", class: "text-success" %></a></td>-->
<!--                                        <td class="col-md-2"><%#= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'deleteGroup' %></td>-->
<!--                                        <td class="col-md-2"><a data-confirm="Are you sure?" class="deleteGroup" data-remote="true" rel="nofollow" data-method="delete" href="groups/<%#= group.id %>>"><%#= fa_icon "trash",class: "text-danger" %></a></td>-->
<!--                                        <td class="col-md-2"><a href="" class="deleteGroup"><%#= fa_icon "trash",class: "text-danger" %></a></td>-->
<!--                                    </tr>-->
                                <%# } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card border-primary">
                    <div class="card-body">
                        <div class="card-header">OS</div>
                        <div class="mt-4 d-md-flex">
                            <div class="col-md-4">
                                <table class="table table-hover table-bordered text-center table-fixed">
                                    <thead class="w-100">
                                        <tr>
                                            <th scope="col" class="w-100">Select To Add Friends</th>
                                        </tr>
                                    </thead>
                                    <tbody class="w-100">
<!--                                        <tr>-->
<!--                                            <td class="w-100">There is no data</td>-->
<!--                                        </tr>-->
                                        <tr>
                                            <td class="w-100">mohamed</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-8">
                                <div class="row" style="overflow-y: auto;max-height: 240px">
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <%= image_tag("/Images/5Wmtb0.jpg", {class: "",style: "width:70px;height:55px"}) %>
                                            </div>
                                            <div>
                                                <span>mohamed</span>
                                                <a href="">remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="form-inline w-100">-->
<!--                                <div class="form-group col-md-9 mb-2">-->
                                    <%#= label_tag(:add_new_friend_input_group, "friends", {class:"col-md-4 font-weight-bold"}) %>
<!--                                                    <label for="add_friend" class="col-md-4 font-weight-bold">Friends</label>-->
                                    <%#= select("friends", "select2", %w(mohamed ahmed), {class: "select2"} ) %>
                                    <%#= select_tag :article, @value, { multiple: true, name: 'article[tags]', class: 'form-control col-md-8 w-100 select2' } %>

<!--                                                                       <label for="add_friend" class="col-md-4 font-weight-bold">Friends</label>-->
<!--                                    <select name="add_friend[friends]" multiple="multiple" class="form-control col-md-8 w-100 select2" id="add_friend">-->
<!--                                        <option value="" disabled>Select One or More</option>-->
<!--                                        <option value="">mohamed</option>-->
<!--                                        <option value="">ahmed</option>-->
<!--                                        <option value="">ahmed</option>-->
<!--                                        <option value="">ahmed</option>-->
<!--                                        <option value="">ahmed</option>-->
<!--                                        <option value="">ahmed</option>-->
<!--                                        <option value="">ahmed</option>-->
<!--                                    </select>-->
                                    <%#= text_field("add_new_friend","input_group",{class:"form-control col-md-8 w-100", placeholder: "Name Of friends"}) %>
<!--                                                 <input type="password" class="form-control col-md-8 w-100" id="inputPassword2" placeholder="Password">-->
<!--                                </div>-->
                                <%#= button_tag("Add friends",{type: "button",name: "add_new_friend",class:"btn btn-primary col-md-3 mb-2"}) %>
<!--                                            <button type="button" class="btn btn-primary col-md-3 mb-2">Add</button>-->
<!--                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>