<%= content_for :page_title,"orders" %>
<%= render 'navbar/navbar' %>
<table class="table table-hover ml-4" style="text-align:center;width:30%">
  <thead class="thead-dark">
    <tr>
      <th>order_for</th>
      <th>resturant_name</th>
      <th>firend</th>
      <th>picture</th>
    </tr>
  </thead>
  <tbody>
      
        <tr>
            <td>
                <%= @order.order_for %>
            </td>
            <td>
                <%= @order.resturant_name %>
            </td>
            <td>
                <%= @order.firend %>
            </td>
            <td>
                <%= image_tag(@order.image, :class => "img_preview") %>
            </td>
        </tr>
      
    </tbody>
</table>