<%= content_for :page_title,"Yalla Notlob" %>
<%= render 'navbar/navbar' %>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1>Home Page</h1>
        </div>
        <div class="row mt-4">
            <div class="col-sm-6">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="card-header">Latest Order</div>
                        <div class="mt-4" style="overflow-y: auto;max-height: 240px">
                            <table class="AllGroups">
                                <tr class="noOrders d-none">
                                    <td>There is no Orders</td>
                                </tr>
                                <% @order.each {|order| %>
                                <tr class="">
                                    <td><a class="ShowOrder" rel="nofollow" href="<%= orders_path+'/'+order.id.to_s %>"><%= order.order_for %> on <%= order.created_at.strftime("%d/%m/%Y") %></a></td>
                                </tr>
                                <% } %>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card border-info">
                    <div class="card-body">
                        <div class="card-header">Friends Activity</div>
                        <div class="mt-4" style="overflow-y: auto;max-height: 240px">
                            <table class="AllGroups">
                                <tr class="noOrders d-none">
                                    <td>There is no Orders</td>
                                </tr>
                                <tr class="">
                                    <td><a class="ShowOrder" rel="nofollow" href="<%= orders_path %>">launch on 13/9/2019</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
